.btn-add {
    width: 100%;
    color: #ffffff !important;

}
.menu-icon-master {
    padding: 8px;
    transform: translateY(-2px);
}
.btn-group {
    position: absolute;
    right: 5%;
    z-index: 9999;
}
.btn-group .btn{
    margin-left:8px !important;
}